src/xkb1_lexer.erl
src/xkb1_parser.erl
include/xkb1_keydefs.hrl

.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
rebar3.crashdump
rebar.lock
